.App {
  text-align: center;
  margin-right: 2%;
  margin-top: 5%;
}
.title {
  margin-right: 7%;
}

.App-page {
  background-color: #fff;
  background:rgba(255,255,255,0.65);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
}

.title {
  color: #fff;
  font-size: 50px;
  text-decoration: underline;
}

form {
  margin-top: 2%;
}

form label {
  font-size: 20px;
}

form input {
  margin-left: 10px;
  width: 100px;
  height: 60px;
}
